{% extends "model-page.html" %}
  {% block content %}
    <h2>AGENDAMENTOS</h2>
    <a href ="evento">
        <button type="button"> + Evento</button>
    </a>
    <ul style="font-size: 18px ">
        {% for evento in eventos %}
          <li>
              {{evento.titulo}}
              {{evento.get_data_evento}}
              <a href="evento/?id={{evento.id}}"> - editar  </a>
              <a href="evento/delete/{{evento.id}}"> x - excluir </a>
          </li>
        {% endfor%}
    </ul>
 {% endblock %}